@model List<ResultAboutDto>
@{
	ViewData["Title"] = "Hakkımda Sayfası"; 
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
	int count = 0;
}
<table class="table table-hover">
	<tr>
		<th>#</th>
		<th>Resim 1</th>
		<th>Resim 2</th>
		<th>Açıklama</th>
		<th>Madde 1</th>
		<th>Madde 2</th>
		<th>Madde 3</th>
		<th>Madde 4</th>
		<th>İşlemler</th>
	</tr>
	@foreach(var item in Model)
	{
		count++;
		<tr>
			<th>@count</th>
			<th><img src="@item.ImageUrl1" style="height:75px;width:75px" /></th>
			<th><img src="@item.ImageUrl2" style="height:75px;width:75px" /></th>

			<th>@item.Description</th>
			<th>@item.Item1</th>
			<th>@item.Item2</th>
			<th>@item.Item3</th>
			<th>@item.Item4</th>
			<td>
				<a asp-action="DeleteAbout" asp-controller="About" asp-area="Admin" asp-route-id="@item.AboutId" class="btn btn-outline-danger">Sil</a>
				<a asp-action="UpdateAbout" asp-controller="About" asp-area="Admin" asp-route-id="@item.AboutId" class="btn btn-outline-info">Güncelle</a>
			</td>
		</tr>
	}
</table>
<br />
<a asp-action="CreateAbout" asp-controller="About" asp-area="Admin" class="btn btn-outline-primary">Yeni Hakkımda Ekle</a>
