@model List<ResultCourseDto>
@{
    ViewData["Title"] = "Kurslar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@{
	int count = 0;
}
<table class="table table-hover">
	<tr>
		<th>#</th>
		<th>Resim</th>
		<th>Kurs Adı</th>
		<th>Fiyat</th>
		<th>Kategori</th>
		<th>Eğitmen</th>
		<th>Gösterilme Durumu</th>

		<th></th>
		<th>Ana Sayfada</th>
	</tr>
	@foreach (var item in Model)
	{
		count++;
		<tr>
			<th>@count</th>
			<th><img src="@item.ImageUrl" style="height:75px; width:75px" /></th>
			<th>@item.CourseName</th>
			<th>@item.Price ₺</th>
			<th>@item.CourseCategory.Name</th>
			<th>@item.AppUser.FirstName @item.AppUser.LastName</th>
			<th>@(item.IsShown ? "Gösteriliyor" : "Gösterilmiyor")</th>
			<td>
				<button onclick="deleteCourse(@item.CourseId)" class="btn btn-outline-danger">Sil</button>
				<a asp-action="UpdateCourse" asp-controller="Course" asp-area="Admin" asp-route-id="@item.CourseId" class="btn btn-outline-info">Güncelle</a>


			</td>
			<td>
				@if (item.IsShown == true)
				{

					<a asp-action="DontShowOnHome" asp-controller="Course" asp-area="Admin" asp-route-id="@item.CourseId" class="btn btn-outline-secondary"> Gösterme</a>
				}
				else
				{
					<a asp-action="ShowOnHome" asp-controller="Course" asp-area="Admin" asp-route-id="@item.CourseId" class="btn btn-outline-success"> Göster</a>
				}
			</td>
		</tr>
	}
</table>
<br />
<a asp-action="CreateCourse" asp-controller="Course" asp-area="Admin" class="btn btn-outline-primary">Yeni Kurs Ekle</a>

<script>
	function deleteCourse(id) {

		Swal.fire({
	  title: "Silmek İstediğinize Eminmisiniz ?",
	  text: "Bu İşlemi Geri Alamazsınız!",
	  icon: "warning",
	  showCancelButton: true,
	  confirmButtonColor: "#3085d6",
	  cancelButtonColor: "#d33",
	  confirmButtonText: "Evet, Sil !",
	  cancelButtonText: "İptal"
	}).then((result) => {
	  if (result.isConfirmed) {
		window.location.href="/Admin/Course/DeleteCourse/"+id;
	  }
	});
	}

</script>
